## Set up notebook
---

In [26]:
import seaborn as sns

## Validate data is regested in catalog
---

In [21]:
iris = catalog.load("iris").set_index('Id')
iris.rename(columns={"SepalLengthCm": "sepal_len",
                     "SepalWidthCm": "sepal_width",
                     "PetalLengthCm": "petal_len",
                     "PetalWidthCm": "pteal_width",
                     "Species": "species"},
           inplace=True)

iris.head()

[03/25/23 17:29:18] INFO     Loading data from 'iris' (CSVDataSet)...                           ]8;id=690890;file:///Users/danielortiz/opt/anaconda3/envs/iris-kedro-demo/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=789699;file:///Users/danielortiz/opt/anaconda3/envs/iris-kedro-demo/lib/python3.10/site-packages/kedro/io/data_catalog.py#343\343]8;;\

    sepal_len  sepal_width  petal_len  pteal_width      species
Id
1         5.1          3.5        1.4          0.2  Iris-setosa
2         4.9          3.0        1.4          0.2  Iris-setosa
3         4.7          3.2        1.3          0.2  Iris-setosa
4         4.6          3.1        1.5          0.2  Iris-setosa
5         5.0          3.6        1.4          0.2  Iris-setosa

## Assess Data Quality
---

In [2]:
iris.shape

(150, 6)

In [3]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Understanding Attributes
---

In [19]:
iris.describe()

        sepal_len  sepal_width   petal_len  pteal_width
count  150.000000   150.000000  150.000000   150.000000
mean     5.843333     3.054000    3.758667     1.198667
std      0.828066     0.433594    1.764420     0.763161
min      4.300000     2.000000    1.000000     0.100000
25%      5.100000     2.800000    1.600000     0.300000
50%      5.800000     3.000000    4.350000     1.300000
75%      6.400000     3.300000    5.100000     1.800000
max      7.900000     4.400000    6.900000     2.500000

In [24]:
iris.groupby('species').agg(['mean', 'median'])

                sepal_len        sepal_width        petal_len         \
                     mean median        mean median      mean median
species
Iris-setosa         5.006    5.0       3.418    3.4     1.464   1.50
Iris-versicolor     5.936    5.9       2.770    2.8     4.260   4.35
Iris-virginica      6.588    6.5       2.974    3.0     5.552   5.55

                pteal_width
                       mean median
species
Iris-setosa           0.244    0.2
Iris-versicolor       1.326    1.3
Iris-virginica        2.026    2.0

## Data Cleaning Code for Pipeline
---

In [ ]:
## Preliminary Data Cleaning Code for Iris Dataset
# iris = catalog.load("iris").set_index('Id')
# iris.rename(columns={"SepalLengthCm": "sepal_len",
#                      "SepalWidthCm": "sepal_width",
#                      "PetalLengthCm": "petal_len",
#                      "PetalWidthCm": "pteal_width",
#                      "Species": "species"},
#            inplace=True)